:root {
  --main-color: #303030;
  --sec-color: #e4e4e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #e4e4e4;
    --sec-color: #303030;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-color);
  user-select: none;
}

body {
  background-color: var(--sec-color);
  padding: 20px;
}

h1 {
  width: 100%;
  padding: 30px;
  text-align: center;
}

button {
  background-color: var(--sec-color);
  border: 1px solid var(--main-color);
  transition: ease-in-out 200ms;
  cursor: pointer;
}

button:hover {
  outline: none !important;
  color: var(--sec-color);
  background-color: var(--main-color);
}

button:focus {
  outline: none !important;
}

button:active {
  outline: none !important;
  font-size: 12px;
}

.file-select {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px auto 30px;
  gap: 20px;
}

.file-select span {
  justify-self: center;
}

.file-select img {
  width: 100px;
  justify-self: center;
  image-rendering: pixelated;
}

.border-preview {
  justify-self: center;
  width: 100px;
  position: relative;
}

.border-preveiw img,
.border-preview canvas {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.border-preview canvas {
  image-rendering: pixelated;
  z-index: -1;
}

.canvas-front {
  z-index: 1 !important;
}

.border-select {
  display: flex;
}

.border-select button {
  width: 100%;
  border-right: none;
}

.color-input {
  width: 0px;
  height: 0px;
  border: none;
  visibility: hidden;
  margin: 0px;
  padding: 0;
  margin-top: 30px;
}

.border-select svg {
  width: 30px;
  height: 30px;
  padding: 2px;
  fill: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  object-fit: contain;
  transition: ease-in-out 200ms;
}

.border-select svg:hover {
  color: var(--sec-color);
  fill: var(--sec-color);
  background-color: var(--main-color);
}

.border-select svg:active {
  padding: 3px;
}

.generate {
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  align-items: stretch;
  gap: 20px;
}

.generate button {
  width: 100%;
}

.generate input {
  width: 75px;
  background-color: var(--sec-color);
  border: 1px solid var(--main-color);
  outline: none;
  text-align: center;
}

.result-canvas {
  display: block;
  width: 50%;
  height: auto;
  margin-top: 20px;
  image-rendering: pixelated;
}
